-@ val body: String

!!!
html(lang="en" ng-app="myApp")
  head
    meta(charset="utf-8")
    title My Scalate AngularJS App
    link(rel="stylesheet" href="/compiled/styles.css")
  body
    ul.menu
      li
        a(href="#/view1") view1
        a(href="#/view2") view2

    !~~ body

    div Angular seed app: version <span app-version></span>

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
    script(src="/compiled/scripts.js")