-@ val title: String = "$name$"
- attributes("title") = title

.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#") =title

.container
  Welcome to $name$. {{ 'Current version is v%VERSION%.' | interpolate }}
