section(id="accordion")
  .well.span10
    .page-header
      h2 Accordian
    .span3(ng-controller="AccordionDemoCtrl")
      label.checkbox
      input(type="checkbox" ng-model="oneAtATime")
        | Open only one at a time
        accordion(close-others="oneAtATime")
          accordion-group(heading="Static Header")
            | This content is straight in the template.
          accordion-group(heading="{{group.title}}" ng-repeat="group in groups")
            | {{group.content}}
          accordion-group(heading="Dynamic Body Content")
            p The body of the accordion group grows to fit the contents
            button.btn.btn-small(ng-click="addItem()") Add Item
            div(ng-repeat="item in items") {{item}}
    .span6
      h3 Description
      :markdown
        The **accordion directive** builds on top of the collapse directive to provide a list of items,
        with collapsible bodies that are collapsed or expanded by clicking on the item's header.

        We can control whether expanding an item will cause the other items to close, using the
        `close-others` attribute on accordion.

        The body of each accordion group is transcluded in to the body of the collapsible element.

        Directive is found in the module [ui.bootstrap.accordion](https://github.com/angular-ui/bootstrap/tree/master/src/accordion)
