section(id="carousel")
  .well.span10
    .page-header
      h2 Carousel
    .span4(ng-controller="CarouselDemoCtrl")
      carousel(interval="myInterval")
        slide(ng-repeat="slide in slides" active="slide.active")
          img(ng-src="{{slide.image}}" style="margin:auto;")
          .carousel-caption
            h4 Slide {{$index}}
            p {{slide.text}}
      .row-fluid
        .span6
          ul
            li(ng-repeat="slide in slides")
              button.btn.btn-mini(
                ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}"
                ng-disabled="slide.active"
                ng-click="slide.active = true") select
              | {{$index}}: {{slide.text}}
          a.btn(ng-click="addSlide()") Add Slide
        .span6
          p Interval, in milliseconds:
          input(type="number" ng-model="myInterval")
          p Enter a negative number to stop the interval.
    .span5
      h3 Description
      :markdown
        Carousel creates a carousel similar to bootstrap's image carousel.

        Use a `<carousel>` element with `<slide>` elements inside it. It will automatically cycle through the slides
        at a given rate, and a current-index variable will be kept in sync with the currently visible slide.

        Directive is found in the module [ui.bootstrap.carousel](https://github.com/angular-ui/bootstrap/tree/master/src/carousel)
