section(id="dialog")
  .well.span10
    .page-header
      h2 Dialog
    .span4(ng-controller="DialogDemoCtrl")
      label.checkbox
        input(type="checkbox" ng-model="opts.backdrop") Show backdrop
      label.checkbox
        input(type="checkbox" ng-model="opts.modalFade") Fade modal dialog
      label.checkbox
        input(type="checkbox" ng-disabled="!opts.backdrop" ng-model="opts.backdropFade") Fade Backdrop
      label.checkbox
        input(type="checkbox" ng-model="opts.keyboard") Close on Escape
      label.checkbox
        input(type="checkbox" ng-disabled="!opts.backdrop" ng-model="opts.backdropClick") Close on backdrop click
      br
      p Change options at will and press the open dialog button below!
      hr
      button.btn.btn-primary(ng-click="openDialog()") Open Dialog
      button.btn.btn-primary(ng-click="openMessageBox()") Open Message Box
    .span5
      h3 Description
      :markdown
        The `$dialog` service allows you to open dialogs and message boxes from within your controllers. Very useful
        in case loading dialog content in the DOM up-front is tedious or not desired.

        Creating custom dialogs is straightforward: create a partial view, its controller and reference them when
        using the service. Generic message boxes (title, message and buttons) are also provided for your convenience.

        For more information, see the [dialog readme](https://github.com/angular-ui/bootstrap/src/dialog/README.md)
        on github.

        Directive is found in the module [ui.bootstrap.dialog](https://github.com/angular-ui/bootstrap/tree/master/src/dialog)
