- import java.text.SimpleDateFormat
- import java.util.Date

-@ val format: SimpleDateFormat = new SimpleDateFormat("yyyy-MM-dd")
-@ val now: String = format.format(new Date)
-@ val currency: String = "123456"
-@ val num: String = "98765.4321"

.container
  h1 This is the partial for view 3.

  .well.span10
    tabs
      pane(heading="Hello World")
        label Name:
        input(type="text" ng-model="yourName" placeholder="Enter a name here")
        hr
        h2 Hello {{yourName}}!
      pane(heading="Localization")
        | Date: {{ '2012-04-01' | date:'fullDate' }}
        <br/>
        | Currency: {{ 123456 | currency }}
        <br/>
        | Number: {{ 98765.4321 | number }}
        <br/>
      pane(heading="Todo List")
        b TODO:
- render("_accordion.jade")
- render("_alert.jade")
- render("_carousel.jade")
- render("_dialog.jade")