.modal-header
  h1 This is the title
.modal-body
  :markdown
    Enter a value to pass to `close` as the result:
  input(ng-model="result")
.modal-footer
  button.btn.btn-primary(ng-click="close(result)") Close